<ion-view view-title="{{vm.book.title}}">
  <ion-content class="has-subfooter">
    <div class="list card" ng-repeat="page in vm.pages">
        <div class="item item-avatar item-text-wrap" item-icon-right>
          <img src="{{page.image._downloadURL}}">
          <p class="subdued pagetext">
            {{page.text}}
          </p>
          <h2 class="pagenum">{{page.pageNumber}}</h2>
        </div>
      </div>
  </ion-content>
  <ion-footer-bar class="bar-positive bar-subfooter translation-bar">
        <h1 class="title translation">sad - trauig</h1>
      </ion-footer-bar>
      <ion-footer-bar class="bar-positive play-bar">
        <div class="title"><img src="img/play.png" width="14%"></div>
  </ion-footer-bar>
</ion-view>